.select_container {
    // border: 1px solid #eee;
    .column-content {
        text-align: center;
        height: 40px;
        line-height: 40px;
        width: 100%;
        background-color: #eee;
        border-radius: 5px;
        position: sticky;
        top: 0
    }
}

.photo_head {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding-left: 2%;
    padding-right: 2%;
    .photo_head_item {
        box-sizing: border-box;
        background-color: white;
        flex: 0 0 46%;
        margin-left: 2%;
        margin-right: 2%;
        .photo_img{
            background-size: 90% 90%;
            height: 100px;
        }
        .photo_title {
            text-align: center;
            display: block;
        }
    }
}

.content {
    .mix-flex-center();
}

.starContent {
    padding: 50px 50px 0px 50px;
}

.buttonContent {
    padding: 50px;
}

.content{
    padding:10px;
    height:60px;
    .title{
      font-size:20px;
      text-align: center
    }
  }